<html>
    <body>
        <p>The Stark Family:</p>
        <ul>
            <?php foreach ($this->personajes as $personaje): ?>
                <li><?= $personaje ?></li>
            <?php endforeach; ?>
        </ul>
    </body>
</html>
